.header {
    position: fixed;
    width: 100%;
    height: 88px;
    background-color: #f8f9faa6;
    z-index: 99;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 100%;
    background-color: antiquewhite;
    transition: height 0.2s;
}

.header:hover::before {
    height: inherit;
}

.header__navbar {
    height: 88px;
    display: flex;
    align-items: center;
}

.navbar__logo {
    line-height: 0;
    z-index: 1;
}

.navbar__logo-link {
    display: block;
    color: inherit;
}

.navbar__logo-link:hover {
    color: inherit;
}

.navbar__logo-img {
    width: 180px;
}

.navbar__main {
    height: inherit;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 32px;
}

.navbar__main-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar__main-list-item {
    height: inherit;
    position: relative;
}

.navbar__main-list-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 44px;
    height: 20px;
    width: 100%;
    background-color: transparent;
}

.main-list-item__link {
    color: inherit;
    text-decoration: none;
    padding: 42px 16px 30px 16px ;
}

.main-list-item__link:hover {
    color: inherit;
    border-bottom: 1px solid #333;
}

.main-list-item__type {
    position: relative;
    font-family: "Styrene",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.navbar__list {
    display: flex;
    height: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}

.navbar__list-item {
    display: flex;
    position: relative;
    height: inherit;
    align-items: center;
}

.list-item__link {
    padding: 32px 16px;
    color: black;
}

.list-item__link:hover {
    color: var(--hover-color);
}

.list-item__icon {
    font-size: 22px;
}

/* Subnav */
.subnav {
    position: absolute;
    background-color: antiquewhite;
    height: 100%;
    width: max-content;
    top: 88px;
    right: 0;
    display: none;
}

.subnav-search {
    width: 80%;
    margin: 20px;
    outline: none;
}

.navbar__list-item:hover .subnav {
    display: block;
    animation-name: dropNav;
    animation-duration: 0.2s;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__img {
    max-width: 100%;
    height: auto;
}

.slide__title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.slide__main-title {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 50px;
    font-weight: 400;
}

.slide__main-title::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 100%;
    bottom: 0
}

.slide__sub-title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
}
/* Facet */
.facet-bar {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    width: 100%;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #fff;
    position: sticky;
    top: 88px;
    cursor: pointer;
    z-index: 90;
}

.facet-bar__list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.facet-bar__list-item:hover .facet-subar {
    display: block;
}

.facet-bar__list-item {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    padding-right: 24px;
}

.facet-bar__list-item:hover .facet-bar__name {
    font-size: 14px;
}

.facet-bar__name {
    margin-right: 10px;
    font-family: "Styrene",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.facet-subar {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    box-shadow: 0 4px 5px #41464b5c;
    background-color: #fff;
    border: 1px solid #999;
    display: none;
}

.facet-subar__list {
    padding: 8px;
}

.facet-subar__list--active .facet-subar__list-title {
    font-weight: 600;
}

.facet-subar__list:hover {
    color: var(--hover-color);
}

.facet-subar__list-icon {
    padding-right: 4px;
}

.facet-subar__list-title {

}

/* Product */

.product {
    overflow: hidden;
    margin-bottom: 16px;
}

.product-card {

}

.product-card__link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.product-card__link:hover {
    color: inherit;
}

.product-card__home {
    position: relative;
}

.product-card__home:hover .product-card__home-img--behind {
    display: block;
    animation-name: showUp;
    animation-duration: 0.1s;
}

.product-card__home-img {
    display: block;
    width: 100%;
    height: auto;
}

.product-card__home-img--behind {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.product-card__detail {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 120px;
}

.product-card__shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.product-card__price {

}

.product-card__color {
    font-weight: 200;
}

.product-card__more {
    position: absolute;
    text-transform: uppercase;
    background-color: #fff;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #666;
    display: none;
}

.product-card__detail:hover .product-card__more {
    display: flex;
    animation-name: flyIn;
    animation-duration: 0.3s;
}

.product-card__more:hover {
    color: #fff;
    background-color: #999;
}

.product-card__detail:hover .product-card__shop {
    opacity: 0;
    display: none;
}

.page-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.page-pagination__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-pagination__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.page-pagination__item {
    padding: 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.page-pagination__link {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
}

.page-pagination__link:hover {
    color: #333;
}

/* Service */

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 60px;
    overflow: hidden;
}

.service-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.service-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    height: fit-content;
}

.service-list__icon {
    margin-bottom: 15px;
}

.service-list__title {
    font-weight: 500;
    text-align: center;
}

/* Footer */

.footer {

}

.footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__content {
    padding-top: 24px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer__menu {
    padding: 14px 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 24px;
    height: 16px;
}

.footer__menu-item:not(:last-child) {
    border-right: 1px solid #ccc;
}

.footer__menu-link {
    font-size: 14px;
    text-decoration: none;
    color: #666;
}

.footer__menu-link:hover {
    color: var(--hover-color);
}

.footer-bottom {
    padding: 40px 32px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
}

.footer-bottom__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-bottom__item {
    display: flex;
    flex-direction: column;
}

.footer-bottom__title,
.footer-bottom__from {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0;
    width: fit-content;
}

.footer-bottom__title:hover,
.footer-bottom__description:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.footer-bottom__description,
.footer-bottom__from-description {
    font-family: "Styrene",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    font-weight: 400;
    color: #333;
}

.subscribe {
    padding: 10px 0 26px 0;
}

.subscribe-from {
    width: 100%;
    border-bottom: 1px solid;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.footer__text {
    padding: 16px 40px;
    font-family: "Styrene",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: none;
    color: #666;
    text-decoration: none;
}

.footer__text-link {
    color: inherit;
}

.footer__text-link:hover {
    color: var(--hover-color);
}