.header {
    position: fixed;
    width: 100%;
    height: 88px;
    background-color: #f8f9faa6;
    z-index: 99;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 100%;
    background-color: antiquewhite;
    transition: height 0.2s;
}

.header:hover::before {
    height: 88px;
}

.header__navbar {
    height: 88px;
    display: flex;
    align-items: center;
}

.navbar__logo {
    line-height: 0;
    z-index: 1;
}

.navbar__logo-link {
    display: block;
    color: inherit;
}

.navbar__logo-link:hover {
    color: inherit;
}

.navbar__logo-img {
    height: 24px;
}

.navbar__main {
    height: inherit;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 32px;
}

.navbar__main-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar__main-list-item {
    height: inherit;
    position: relative;
}

.navbar__main-list-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 44px;
    height: 20px;
    width: 100%;
    background-color: transparent;
}

.main-list-item__link {
    color: inherit;
    text-decoration: none;
    padding: 42px 16px 30px 16px ;
}

.main-list-item__link:hover {
    color: inherit;
    border-bottom: 1px solid #333;
}

.main-list-item__type {
    position: relative;
    font-family: "Styrene",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.navbar__list {
    display: flex;
    height: inherit;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}

.navbar__list-item {
    display: flex;
    position: relative;
    height: inherit;
    align-items: center;
}

.list-item__link {
    padding: 32px 16px;
    color: black;
}

.list-item__link:hover {
    color: var(--hover-color);
}

.list-item__icon {
    font-size: 22px;
}

/* Subnav */
.subnav {
    position: absolute;
    background-color: antiquewhite;
    height: 100%;
    width: max-content;
    top: 88px;
    right: 0;
    display: none;
}

.subnav-search {
    width: 80%;
    margin: 20px;
}

.navbar__list-item:hover .subnav {
    display: block;
    animation-name: dropNav;
    animation-duration: 0.2s;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide__img {
    max-width: 100%;
    height: auto;
}

.slide__title {
    position: absolute;
    color: #fff;
}

.slide__main-title {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 50px;
    font-weight: 400;
}

.slide__main-title::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 100%;
    bottom: 0
}

.slide__sub-title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
}
/* Facet */
.facet-bar {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    width: 100%;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #fff;
    position: sticky;
    top: 88px;
    cursor: pointer;
    z-index: 99;
}

.facet-bar__list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.facet-bar__list-item:hover .facet-subar {
    display: block;
}

.facet-bar__list-item {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    padding-right: 24px;
}

.facet-bar__list-item:hover .facet-bar__name {
    font-size: 14px;
}

.facet-bar__name {
    margin-right: 10px;
    font-family: "Styrene",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.facet-subar {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    box-shadow: 0 4px 5px #41464b5c;
    background-color: #fff;
    border: 1px solid #999;
    display: none;
}

.facet-subar__list {
    padding: 8px;
}

.facet-subar__list--active .facet-subar__list-title {
    font-weight: 600;
}

.facet-subar__list:hover {
    color: var(--hover-color);
}

.facet-subar__list-icon {
    padding-right: 4px;
}

.facet-subar__list-title {

}

.product {
    overflow: hidden;
}

.product-card {

}

.product-card__link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.product-card__link:hover {
    color: inherit;
}

.product-card__home {
    position: relative;
}

.product-card__home:hover .product-card__home-img--behind {
    display: block;
    animation-name: showUp;
    animation-duration: 0.1s;
}

.product-card__home-img {
    display: block;
    width: 100%;
    height: auto;
}

.product-card__home-img--behind {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.product-card__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.product-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.product-card__price {

}

.product-card__color {
    font-weight: 200;
}
